.object-selector {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  > * {
    padding: 8px 16px;
  }
}

.object {
  width: 100%;
  background-color: #fff;
  border: none;
  text-align: start;
}

.object:not(:last-child) {
  border-bottom: 1px solid #000;
}

.selected {
  background-color: rgba(234,123,41, 0.3);
}

.filter-input {
  width: 100%;
}

